# Ignore virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment variables
.env

# Ignore model artifacts if needed
*.pkl

# Ignore VS Code settings
.vscode/
